/* this is reset.css, basically resets all the defaults styles.*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}

/* target all elements */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(to right, rgb(223, 84, 84) , orange);

}


.wrapper {
    width:30.2rem;
    height:30rem;
    display:flex;
    flex-direction: row;
    margin:auto;
    border:solid;
    border-width: 0.3rem;
    border-color: white;
    flex-wrap: wrap;

}

.player-1-section {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right:solid;
    border-width: 0.1rem;
    border-color: white;
    width:15rem;
    height: 30rem;
    background-color: white;

}

.player-2-section {
    width:15rem;
    height: 30rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left:solid;
    border-width: 0.1rem;
    border-color: white;
    background-color: white;
}

.menu {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    width: 7rem;

    margin-top: -30rem;
    margin-left: 11.5rem;
}

.player-current-score {

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 8rem;
}

.player-name {
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.player-score-1, .player-score-2 {

    font-size: 2rem;

}

.ext {
    display:flex;
    flex-direction: column;
}

#img {
    height:7rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
}

button {
    font-size: 0.8rem;
    background-color: Transparent;
    border: none;

}

.rollBtn {
    padding-bottom: 1rem;
}

.activePlayer {
    background-color: darkgoldenrod;
}
